<p>This is the about view. Param: <span ng-bind="param"></span></p>

<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous" data-ng-click="previousPage($event)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li data-ng-repeat="page in pages" ng-class="{'active': page === currentPage}">
      <a href="#" data-ng-bind="page" data-ng-click="changePage($event, page)"></a>
    </li>
    <li>
      <a href="#" aria-label="Next" data-ng-click="nextPage($event)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Index
        <i data-sort-icon
           data-sort-icon-attr="index"
           data-sort-icon-click="setSort"
           data-sort-icon-sort="sort"></i>
      </th>
      <th>
        Picture
      </th>
      <th>
        Active?
        <i data-sort-icon
           data-sort-icon-attr="isActive"
           data-sort-icon-click="setSort"
           data-sort-icon-sort="sort"></i>
      </th>
      <th>
        Balance
        <i data-sort-icon
           data-sort-icon-attr="balance"
           data-sort-icon-click="setSort"
           data-sort-icon-sort="sort"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="item in items | orderBy:sort.order:sort.reverse">
      <td><span data-ng-bind="item.index"></span></td>
      <td><img data-ng-src="{{item.picture}}"/></td>
      <td><span data-ng-bind="item.isActive"></span></td>
      <td><span data-ng-bind="item.balance"></span></td>
    </tr>
  </tbody>
</table>

<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous" data-ng-click="previousPage($event)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li data-ng-repeat="page in pages" ng-class="{'active': page === currentPage}">
      <a href="#" data-ng-bind="page" data-ng-click="changePage($event, page)"></a>
    </li>
    <li>
      <a href="#" aria-label="Next" data-ng-click="nextPage($event)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
